In [1]:
import pandas as pd
import numpy as np
wheatseed = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00236/seeds_dataset.txt", header=None, delimiter=r"\s+")
wheatseed

         0      1       2      3      4      5      6  7
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  3
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  3
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  3
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  3
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3

[210 rows x 8 columns]

In [2]:
percentage = 0.3
num_features = int(len(wheatseed.columns) * percentage)

In [3]:
random_features = np.random.choice(wheatseed.columns, size=num_features, replace=False)
wheatseed[random_features] = np.random.permutation(wheatseed[random_features].values)
wheatseed[random_features]

         0      5
0    17.98  2.257
1    15.05  2.129
2    19.46  4.308
3    13.32  7.035
4    16.41  4.217
..     ...    ...
205  17.26  4.539
206  13.99  5.234
207  19.18  3.357
208  15.49  3.412
209  16.14  1.355

[210 rows x 2 columns]

### Problem 2

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(wheatseed.iloc[:, :-1], wheatseed.iloc[:, -1], test_size=0.2, random_state=42)

In [5]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [6]:
randomized_data = wheatseed.copy()
randomized_data[random_features] = np.nan
imputed_randomized_data = imputer.fit_transform(randomized_data)

In [7]:
np.random.seed(42)
n_samples, n_features = wheatseed.shape
randomized_indices = np.random.choice(n_samples, int(0.2*n_samples), replace=False)
randomized_data = wheatseed.copy()
randomized_data.iloc[randomized_indices, :-1] = np.nan

In [8]:
imp = SimpleImputer(strategy='mean')
imputed_data = imp.fit_transform(randomized_data)

In [9]:
knn_imputed = KNeighborsClassifier(n_neighbors=7)
knn_imputed.fit(imputed_data[:, :-1], imputed_data[:, -1])

KNeighborsClassifier(n_neighbors=7)

In [10]:
X_test = wheatseed.iloc[:, :-1].values
y_test = wheatseed.iloc[:, -1].values
y_pred_imputed = knn_imputed.predict(X_test)
acc_imputed = accuracy_score(y_test, y_pred_imputed)
print(f"Accuracy of imputed randomized data: {acc_imputed}")

Accuracy of imputed randomized data: 0.8428571428571429

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)